body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;   
    align-items: center;       
    height: 100vh;             
    margin: 0;                 
}

div.post {
    background-color: white;
    width:400px;  
    
}

div.post-body{
    padding: 0 10px 10px 10px;
    font-size: 14px;
}

.post-body p {
    margin: 8px 0;
    font-size: 12px;
}

img.img-landscape{
    width: 100%;
    
}

div.post-header{
    display: flex;
    align-items: center;
    padding: 10px;
}

p.nameaccount{
    margin: 0;
    margin-left: 10px;
    font-size: 14px;
}

.post-header .fa-ellipsis-vertical {
    margin-left: auto;
}

div.post-icons {
    display: flex;
    padding: 10px;
    font-size: 20px;
}
.post-icons i {
    margin-right: 10px;
} 

.post-icons .fa-bookmark {
    margin-left: auto;
    margin-right: 0;
}
